---
layout: default
---

<ul class="article">
  
	<li class="article">
    
    <div class="article-side">
      <h2 class="title"><a href="{{ post.url }}" title="{{ post.title }}">{{ page.title }}</a></h2>
      <div class="date">{{ page.date | date_to_string }}</div>
    </div>
    
    <div class="article-content">
      {{ content }}
      
      <div class="article-comments">
        <p>I'm not a fan of comments, so if you got something interesting to say related to this article, feel free to mention it on Twitter. I'm <a href="http://twitter.com/askothecoder" title="@askothecoder on Twitter">@askothecoder</a>.</p>
      </div>
    </div>
    
	</li>
  
</ul>
